/* Font (3270 Nerd Font (Pro Regular) - https://www.nerdfonts.com/) */
@font-face {
    font-family: face;
    src: url("../3270NerdFontPropo-Regular.ttf");
}

/* Correct default styles and apply font & color */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    color: white;
    font-family: face;
}

/* Background image */
body {
    background-image: url("../terrain-bg.png");
    background-repeat: repeat-x repeat-y;
}

/* Used to apply space between an element and it's border using a container element */
.spaced-border {
    padding: 4px;
    border: 2.5px dashed rgba(255,255,255,0.8)
}

/* Holographic overlay */
.holo {
    opacity: .6;
    --mask: linear-gradient(to bottom, 
      rgba(0,0,0, 0) 0,   rgba(0,0,0, 1) 40%, 
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    background: repeating-linear-gradient(
    rgba(0, 89, 255, 0.29) 14px, 
    rgba(0, 89, 255, 0.29) 20px,
    rgba(124, 196, 255, 0.542) 23px,
    rgba(0, 89, 255, 0.29) 27px);
    animation: keyframe-holo 1s linear infinite;
    mask: 
    linear-gradient(to top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5% 95%, rgba(0,0,0,0) 100%),
    linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5% 95%, rgba(0,0,0,0) 100%);
    mask-position: center;
    mask-repeat:no-repeat;
    mask-composite: intersect;
}

/* Holographic overlay animation */
@keyframes keyframe-holo {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -27px;
    }
}

/* Used for the scheduling modal */
.bay_modal {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: rgba(0, 31, 131, 0.719);
    padding: 10px;
    border: 2px dashed rgba(255,255,255);
    transition: size 2s;
    visibility:hidden;
}

.bay_modal_title {
    visibility: hidden;
    margin: 2px;
}

.bay_modal_button {
    background: none;
    color: inherit;
    border: none;
    padding: 4px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    z-index: 1
}

.bay_modal_button:hover {
    .bay_modal_title {
        visibility: visible;
    }
}

.bay_modal_button_img {
    width: 24px;
    height: 24px;
}

/* Filters: https://angel-rs.github.io/css-color-filter-generator/ */
.bay_modal_button_img_occupied {
    filter: brightness(0) saturate(100%) invert(14%) sepia(60%) saturate(7092%) hue-rotate(357deg) brightness(102%) contrast(113%);
}

.bay_modal_button_img_free {
    filter: brightness(0) saturate(100%) invert(67%) sepia(77%) saturate(5110%) hue-rotate(85deg) brightness(127%) contrast(118%);
}


.error_modal_container {
    visibility: hidden;
    padding: 4px;
    border: 2.5px dashed rgba(255, 30, 0, 0.7);
    position: absolute;
    margin: auto 50vh 0;
    transform: translateX(-50%);
    width: fit-content;
}

.error_modal {
    padding: 4px;
    background-color: rgba(255, 0, 0, 0.961);
    border: 1px solid rgba(255, 30, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_modal > * {
    margin: 3px;
}